@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 76 100% 95%;
    --foreground: 76 5% 10%;
    --card: 76 50% 90%;
    --card-foreground: 76 5% 15%;
    --popover: 76 100% 95%;
    --popover-foreground: 76 100% 10%;
    --primary: 76 53% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 76 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 38 30% 85%;
    --muted-foreground: 76 5% 35%;
    --accent: 38 30% 80%;
    --accent-foreground: 76 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 76 5% 90%;
    --border: 76 30% 50%;
    --input: 76 30% 26%;
    --ring: 76 53% 41%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 76 50% 10%;
    --foreground: 76 5% 90%;
    --card: 76 50% 10%;
    --card-foreground: 76 5% 90%;
    --popover: 76 50% 5%;
    --popover-foreground: 76 5% 90%;
    --primary: 76 53% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 76 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 38 30% 25%;
    --muted-foreground: 76 5% 60%;
    --accent: 38 30% 25%;
    --accent-foreground: 76 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 76 5% 90%;
    --border: 76 30% 26%;
    --input: 76 30% 26%;
    --ring: 76 53% 41%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type="text"],
  textarea {
    @apply block w-full rounded-lg border p-2;
  }
  label {
    @apply mt-4 block;
  }
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply w-full max-w-7xl p-5 md:px-10 lg:mx-auto xl:px-0;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}
